

.modal-result {
    li {
        list-style: none;
        font-weight: bold;
    }
    .custom-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .custom-button:hover {
        background-color: #0056b3;
      }
      
      .custom-button:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
      }
      
      .custom-button:active {
        background-color: #0056b3;
        transform: translateY(1px);
      }
      
}